body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 20px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: #4b3d3d;
  padding: 50px 50px;
}

.cart-icon {
  margin-left: 10px;
  max-width: 100%;
}

.cart-quantity {
  position: absolute;
  top: 12%;
  left: 91.5%;
  color: rgb(206, 106, 106);
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 16px;
}

@media screen and (max-width: 1280px) {
  .nav-bar {
    flex-direction: column;
  }
  .cart-quantity {
    position: absolute;
    transform: translate(90%, 90%);
}
}


@media screen and (max-width: 768px) {
  .nav-bar {
    flex-direction: column;
  }
  .cart-quantity {
    position: absolute;
    top: 25%;
    left: 45%;
    transform: translate(90%, 90%);
  }
}

@media screen and (max-width: 600px) {
  .nav-bar {
    flex-direction: column;
  }
  .cart-quantity {
    position: absolute;
    left: 44.5%;
    top: 28%;
  }
}

@media screen and (max-width: 400px) {
  .nav-bar {
    flex-direction: column;
  }
  .cart-quantity {
    position: absolute;
    left: 44.5%;
    top: 28%;
  }
  
}


h1 {
  color:white;
  font-size: 18px;
}

.paragraph-1{
  display: flex;
  justify-content: center;
  color: #ccc;
}


.categories h2, .featured-products h2, .customer-reviews h2, .newsletter h2 {
  margin-bottom: 20px;
}

.category-grid, .product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 50px;
}

.category, .product-card {
 
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
 .category img, .product-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}


.product-card h3 {
  margin: 10px 0 5px;
}

.product-card p {
  margin: 5px 0;
}

h2 {
  color: #6b4f4f;
  border-bottom: 2px solid #6b4f4f;
  padding-bottom: 5px;
}


button {
  background-color: #6d4c41; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

button:hover {
  background-color: #5d4037; /* Darker brown */
}

.add-ons {
  margin-top: 20px;
  font-style: italic;
}
